{% extends "admin/base_admin.html" %} {% block title %} Photo {% endblock %} {%
block content %}
<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-admin shadow-dark border-radius-lg pt-4 pb-3">
          <div class="row">
            <div class="col-6 d-flex align-items-center">
              <h5 class="text-white text-capitalize ps-3">Jadwal</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table id="dataTable" class="table align-items-center mb-0">
            <thead>
              <tr>
                <th
                  class="text-center text-dark fs-7 fw-bold"
                  style="width: 50px"
                ></th>
                <th class="text-center text-dark fs-7 fw-bold">Waktu Acara</th>
                <th class="text-center text-dark fs-7 fw-bold">Nama Klien</th>
                <th class="text-center text-dark fs-7 fw-bold">Layanan</th>
                <th class="text-center text-dark fs-7 fw-bold">Paket</th>
                <th class="text-center text-dark fs-7 fw-bold">Lokasi Acara</th>
                <th class="text-center text-dark fs-7 fw-bold">Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for pesanan in pesanan %}
              <tr>
                <td class="text-center align-middle">{{ loop.index }}.</td>
                <td class="text-center align-middle">
                  <span class="mb-0" style="font-weight: normal"
                    >{{ pesanan.jam_acara }} WIB,
                    {{pesanan.tanggal_mulai_acara_formatted}}-{{pesanan.tanggal_selesai_acara_formatted}}</span
                  >
                </td>
                <td class="text-center align-middle">
                  <span class="mb-0" style="font-weight: normal"
                    >{{ pesanan.nama_klien }}</span
                  >
                </td>
                <td class="text-center align-middle">
                  <span class="mb-0" style="font-weight: normal"
                    >{{ pesanan.layanan }}</span
                  >
                </td>
                <td class="text-center align-middle">
                  <span class="mb-0" style="font-weight: normal"
                    >{{ pesanan.paket }}</span
                  >
                </td>
                <td class="text-center align-middle">
                  <span class="mb-0" style="font-weight: normal"
                    >{{ pesanan.lokasi }}</span
                  >
                </td>

                <td class="text-center align-middle">
                  <!-- Tombol Ubah -->
                  <div class="d-inline-flex align-items-center">
                    <a
                      href="/admin_jadwal_ubah/{{ pesanan._id }}"
                      class="text-dark d-flex align-items-center text-decoration-none"
                    >
                      <i class="material-icons me-1">edit</i>
                      <span class="mb-0" style="font-weight: normal">Ubah</span>
                    </a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
