<footer class="bg-light text-lg-start">
  <div class="container p-4">
    <div class="row">
      <!-- Logo & Deskripsi -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <div class="d-flex align-items-center mb-3">
          <img
            src="static/img/logo.png"
            alt="Logo"
            style="width: 50px; height: 50px; margin-right: 10px"
          />
          <h2 class="mb-0">Oval Photo</h2>
        </div>
        <p style="font-size: 14px">
          Beautiful moments created by your presence
        </p>
        <!-- Media Sosial -->
        <div class="d-flex justify-content-start">
          <a
            target="_blank"
            href="https://www.instagram.com/ovalphoto?igsh=N2tzZG9pZHd3YXNm"
            class="text-dark me-3"
          >
            <i class="bi bi-instagram social-icon"></i>
          </a>
          <a
            target="_blank"
            href="https://www.facebook.com/yudaza?mibextid=ZbWKwL"
            class="text-dark me-3"
          >
            <i class="bi bi-facebook social-icon"></i>
          </a>
          <a
            target="_blank"
            href="https://wa.me/+6281362338236"
            class="text-dark"
          >
            <i class="bi bi-whatsapp social-icon"></i>
          </a>
        </div>
      </div>
      <!-- Main Menu -->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5>Main Menu</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="/" class="text-dark">Beranda</a></li>
          <li><a href="/galeri" class="text-dark">Galeri</a></li>
          <li>
            <a href="/katalog_layanan" class="text-dark">Katalog Layanan</a>
          </li>
          <li><a href="/tentang-kami" class="text-dark">Tentang Kami</a></li>
          <li><a href="/kontak" class="text-dark">Kontak</a></li>
        </ul>
      </div>
      <!-- Layanan Kami -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5>Layanan Kami</h5>
        <ul class="list-unstyled mb-0">
          <li><a class="text-dark">Engagement</a></li>
          <li><a class="text-dark">Prewedding</a></li>
          <li><a class="text-dark">Wedding</a></li>
        </ul>
      </div>
      <!-- Kontak -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5>Kontak</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a
              target="_blank"
              href="https://maps.app.goo.gl/guZ9Mva8vjuhow4s5"
              class="text-dark"
            >
              Jl. Lintas Sumatera Cikampak, Aek Batu, Kec. Torgamba, Kab.
              Labuhanbatu Selatan, Sumatera Utara
            </a>
          </li>
          <li>
            <a href="mailto:ovalphotoo@gmail.com" class="text-dark"
              >Email: ovalphotoo@gmail.com</a
            >
          </li>
          <li>
            <a href="tel:+6281362338236" class="text-dark"
              >Phone: +62 813-6233-8236</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Footer Bottom Text -->
  <div class="text-center p-3 bg-dark text-white">
    <a>&copy; Copyright 2024, Oval Photo. All Rights Reserved</a>
  </div>
</footer>
