{% extends "user/base_user.html" %}{% block content %}
 <header class="profil-header">
    <div class="profil-avatar-wrapper">
      <div class="profil-avatar">
        <i class="bi bi-person-fill"></i>
      </div>
    </div>
  </header>

  <main class="profil-content">
    
    <h2 class="profil-name">Serini Dewi Lestari</h2>
    <p class="profil-username">FutureBride _77</p>
    <p class="profil-email">dewiserinilestari@gmail.com</p>
    <div class = "profil-button-wrapper">
      <button class="profil-button" type="button"  onclick="window.location.href='/profiledit'">Ubah Profil</button>
    </div>

  </main>
  
{% endblock %}
